.row.justify-content-center
  .col-4
    = errors_for @user

    = form_with model: @user do |f|
      .form-group
        = f.label :name, 'Full name'
        = f.text_field :name, class: 'form-control'

      .form-group
        = f.label :email
        = f.text_field :email, class: 'form-control'

      .form-group
        = f.label :password
        = f.password_field :password, class: 'form-control'

      = f.submit 'Sign up now!', class: 'btn btn-primary'
